// Messages
//
// Show alert messages to users. You may add it to single elements like a `<p>`,
// or to a parent if there are multiple elements to show.

.message {
  margin-bottom: 1rem;
  padding: 1rem;
  color: #d2cfcf;
  background-color: #000;
  border-radius: 3px;
  border-color: #111;
  border: 1px solid #555;

}
